<title>@@title | IDFACE</title>
<!-- [Meta] -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" property="og:description" content="Acelere seus processos, proteja seus dados e simplifique sua vida com nossas soluções inovadoras de identificação digital.">
<meta name="keywords" content="Identificação digital, autenticação biométrica, segurança cibernética, proteção de dados, transformação digital, agilidade, eficiência, sustentabilidade, experiência do cliente, inovação tecnológica, soluções escaláveis, assinatura digital, controle de acesso, prevenção de fraudes, conformidade legal, gerenciamento de identidade, soluções em nuvem, identidade digital para governo, varejo, serviços financeiros, saúde, segurança digital, biometria facial, autenticação multifator, dados pessoais, transformação digital para empresas, agilização de processos, sustentabilidade empresarial, experiência do cliente excepcional, soluções inovadoras para identificação digital, tendências em segurança cibernética">
<meta name="author" content="Power Bi Tech">

<!-- [Favicon] icon -->
<link rel="icon" href="../assets/images/favicon.svg" type="image/x-icon">