<li class="pc-item pc-caption">
  <label>App</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-setting-2"></use>
  </svg>
</li>
<li class="pc-item pc-hasmenu">
  <a href="/app/documentos.html" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-folder-open"></use>
      </svg>
    </span>
    <span class="pc-mtext">Documentos</span>
  </a>
</li>

<li class="pc-item pc-caption">
  <label>Configurações</label>
  <svg class="pc-icon">
    <use xlink:href="#custom-setting-2"></use>
  </svg>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-user-square"></use>
      </svg>
    </span>
    <span class="pc-mtext">Usuário</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
  <ul class="pc-submenu">
    <li class="pc-item"><a class="pc-link" href="../app/account-profile.html">Perfil da Conta</a></li>
  </ul>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <svg class="pc-icon">
        <use xlink:href="#custom-buliding"></use>
      </svg>
    </span>
    <span class="pc-mtext">Empresa</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
  <ul class="pc-submenu">
    <li class="pc-item"><a class="pc-link" href="../app/company-profile.html">Perfil da Empresa</a></li>
  </ul>
</li>
